<header class="block-header" role="banner">

    <div class="container">
      <nav class="navbar navbar-default">
       <div class="container-fluid">
         <ul class="nav navbar-nav">
           <li class="active"> <a href="#">Home</a> </li>
           <li> <a href="#">Links</a> </li>
           <li> <a href="#">Support</a> </li>
           <li> <a href="#">Contacts</a> </li>
         </ul>
         <form class="navbar-form navbar-right inline-form">
           <div class="form-group">
             <input type="search" class="input-sm form-control" placeholder="Recherche" ng-model="query">
             <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
           </div>
         </form>
       </div>
      </nav>
    </div>

 </header>
